/* .appMain{
    display: flex !important;
    width: 100vw;
    flex: 10;
}
.appInner1{
    display: flex;
    flex: 3;
}
.appInner2{
    display: flex;
    flex: 9;
}
.appInner1_1{
width: 100%;
} */
.bodyy{
height: 100vh;
overflow-x: hidden !important;
overflow:scroll;
}



    @media(max-width:770px){
        .sidebar{
            visibility: hidden;
            display: none;
        }
    
    }